---
import { ContactButton } from '@/components/index.ts';
import { Button } from '@/components/ui/button.tsx';
import { placeholderUrl } from '@/helpers/data.ts';
import { Github, Linkedin } from 'lucide-react';

const {
  devName,
  imageUrl = `${placeholderUrl}/300`,
  heroDescription,
} = Astro.props as {
  devName: string;
  imageUrl?: string;
  heroDescription: string;
};

console.log('heroDescription :>> ', heroDescription);
console.log('imageUrl :>> ', imageUrl);
---

<section
  id='about'
  class='py-20 md:py-32 flex flex-col md:flex-row items-center container px-4 mx-auto'
>
  <div class='md:w-1/2 mb-8 md:mb-0'>
    <h1 class='text-4xl md:text-6xl font-bold mb-4'>
      Olá, eu sou {devName}
    </h1>
    <p class='text-xl mb-6'>{heroDescription}</p>
    <div class='flex space-x-4'>
      <Button
        variant='outline'
        size='icon'
      >
        <Github className='h-5 w-5' />
      </Button>
      <Button
        variant='outline'
        size='icon'
      >
        <Linkedin className='h-5 w-5' />
      </Button>
      <ContactButton client:load />
      <!-- <Button
        variant='outline'
        size='icon'
      >
        <Mail className='h-5 w-5' />
      </Button> -->
    </div>
  </div>
  <div class='md:w-1/2 flex justify-center'>
    <slot>
      <img
        src={imageUrl}
        alt={devName}
        width={300}
        height={300}
        class='rounded-full'
        loading='eager'
      />
    </slot>
  </div>
</section>
