---
import { ProjectDetails } from '@/components/index.ts';
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card.tsx';
import { placeholderUrl } from '@/helpers/data.ts';
import { GET } from '@/pages/api/github-data.ts';
import type { RepositoryData } from '@/types/index.ts';
import { Image } from 'astro:assets';

const res = await GET(Astro);
const data = await res.json();
if (data.error) {
  console.error('Failed to fetch projects:', data.error);
}

const projects: RepositoryData[] = data.projects;
console.log('projects :>> ', projects);
---

<section
  id='projects'
  class='py-20'
>
  <h2 class='text-3xl font-bold mb-8'>Projetos Destacados</h2>
  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6'>
    {
      projects.length === 0 ? (
        <p>Sem projetos para exibir.</p>
      ) : (
        projects.map((project) => (
          <Card key={project.id}>
            <CardHeader>
              <CardTitle>{project.name}</CardTitle>
              <CardDescription>{project.description}</CardDescription>
            </CardHeader>
            <CardContent>
              <Image
                src={
                  project.coverImage
                    ? project.coverImage
                    : `${placeholderUrl}/400x200`
                }
                alt={project.name}
                width={400}
                height={200}
                class='rounded-md'
                loading='lazy'
              />
            </CardContent>
            <CardFooter>
              <ProjectDetails
                project={project}
                client:load
              />
            </CardFooter>
          </Card>
        ))
      )
    }
  </div>
</section>
