---
import { Card, CardContent, CardHeader, CardTitle } from '@/components/ui/card';
import { placeholderUrl } from '@/helpers/data.ts';
import type { Testimonial } from '@/types/index.ts';
import { Image } from 'astro:assets';
import Slider from 'react-slick';
import 'slick-carousel/slick/slick-theme.css';
import 'slick-carousel/slick/slick.css';

const { testimonials } = Astro.props as { testimonials: Testimonial[] };
console.log('testimonials :>> ', testimonials);

const settings = {
  dots: false,
  infinite: true,
  slidesToShow: 3,
  slidesToScroll: 1,
  autoplay: true,
  speed: 3000,
  autoplaySpeed: 0,
  cssEase: 'linear',
  pauseOnHover: true,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 2,
      },
    },
    {
      breakpoint: 640,
      settings: {
        slidesToShow: 1,
      },
    },
  ],
};
---

<!-- TODO: this is a marquee component, it should be replaced with a infinite carousel -->
<section
  id='testimonials'
  class='py-20'
>
  <h2 class='text-3xl font-bold mb-8'>Depoimentos de Clientes</h2>
  <div class='overflow-hidden'>
    <Slider
      client:only='react'
      {...settings}
    >
      {
        testimonials.map((testimonial, index) => (
          <div class='px-2'>
            <Card className='flex flex-col h-full'>
              <CardHeader>
                <div class='flex items-center space-x-4'>
                  <Image
                    src={testimonial.avatar || `${placeholderUrl}/50`}
                    alt={testimonial.name}
                    width={50}
                    height={50}
                    class='rounded-full'
                    loading='lazy'
                  />
                  <div>
                    <CardTitle className='text-lg'>
                      {testimonial.name}
                    </CardTitle>
                    <p class='text-sm text-muted-foreground'>
                      {testimonial.position} em {testimonial.company}
                    </p>
                  </div>
                </div>
              </CardHeader>
              <CardContent className='flex-grow'>
                <p class='italic'>&ldquo;{testimonial.testimonial}&rdquo;</p>
              </CardContent>
            </Card>
          </div>
        ))
      }
    </Slider>
  </div>
</section>
