---
import FooterComponent from '@/components/FooterComponent.tsx'
import NavbarComponent from '@/components/NavbarComponent.tsx'
import ContactSection from '@/components/sections/ContactSection.tsx'
import HeroSection from '@/components/sections/HeroSection.tsx'
import ProjectsSection from '@/components/sections/ProjectsSection.tsx'
import SkillsSection from '@/components/sections/SkillsSection.tsx'
import TestimonialsSection from '@/components/sections/TestimonialsSection.tsx'
import TimelineSection from '@/components/sections/TimelineSection.tsx'
import WidgetsSection from '@/components/sections/WidgetsSection.tsx'
import CryptoWidget from '@/components/widgets/CryptoWidget.tsx'
import DollarQuoteWidget from '@/components/widgets/DollarQuoteWidget.tsx'
import TechNewsWidget from '@/components/widgets/TechNewsWidget.tsx'
import WeatherWidget from '@/components/widgets/WeatherWidget.tsx'
import {
  devName,
  heroDescription,
  navLinks,
  placeholderUrl,
  projects,
  skills,
  testimonials,
  timelineData,
} from '@/helpers/data.ts'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <div class='min-h-screen bg-background text-foreground'>
    <NavbarComponent
      devName={devName}
      navLinks={navLinks}
    />
    <main class='container mx-auto px-4 pt-20'>
      <HeroSection
        devName={devName}
        placeholderUrl={placeholderUrl}
        heroDescription={heroDescription}
      />
      <WidgetsSection>
        <TechNewsWidget client:load />
        <WeatherWidget client:load />
        <CryptoWidget client:load />
        <DollarQuoteWidget client:load />
      </WidgetsSection>
      <TimelineSection timelineData={timelineData} />
      <ProjectsSection
        placeholderUrl={placeholderUrl}
        projects={projects}
      />
      <SkillsSection skills={skills} />
      <TestimonialsSection
        testimonials={testimonials}
        placeholderUrl={placeholderUrl}
      />
      <ContactSection />
    </main>
    <FooterComponent devName={devName} />
  </div>
</Layout>
