---
import {
  ContactSection,
  CryptoWidget,
  DollarQuoteWidget,
  FooterComponent,
  HeroSection,
  NavbarComponent,
  ProjectsSection,
  SkillsSection,
  TechNewsWidget,
  TestimonialsSection,
  TimelineSection,
  WeatherWidget,
  WidgetsSection,
} from '@/components/index.ts';
import {
  devName,
  heroDescription,
  navLinks,
  placeholderUrl,
  projects,
  skills,
  testimonials,
  timelineData,
} from '@/helpers/data.ts';
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
---

<Layout>
  <div class='min-h-screen bg-background text-foreground'>
    <NavbarComponent
      devName={devName}
      navLinks={navLinks}
    />
    <main class='container mx-auto px-4 pt-20'>
      <HeroSection
        devName={devName}
        imageUrl={placeholderUrl}
        heroDescription={heroDescription}
        hasChildren
      >
        <Image
          src={'/src/assets/images/profile.jpg'}
          alt={devName}
          width={300}
          height={300}
          class='rounded-full'
          loading='lazy'
        />
      </HeroSection>
      <!-- TODO: smaller widgets in another location -->
      <WidgetsSection>
        <TechNewsWidget client:load />
        <WeatherWidget client:load />
        <CryptoWidget client:load />
        <DollarQuoteWidget client:load />
      </WidgetsSection>
      <!-- TODO: a better timeline -->
      <TimelineSection timelineData={timelineData} />
      <!-- TODO: implement this using GitHub API in client-side -->
      <ProjectsSection
        imageUrl={placeholderUrl}
        projects={projects}
      />
      <TestimonialsSection
        testimonials={testimonials}
        imageUrl={placeholderUrl}
      />
      <SkillsSection skills={skills} />
      <!-- TODO: contact form is a modal and is multi step -->
      <ContactSection />
    </main>
    <FooterComponent devName={devName} />
  </div>
</Layout>
