---
import {
  ContactSection,
  CryptoWidget,
  DollarQuoteWidget,
  FooterComponent,
  HeroSection,
  NavbarComponent,
  ProjectsSection,
  SkillsSection,
  TechNewsWidget,
  TestimonialsSection,
  TimelineSection,
  WeatherWidget,
  WidgetsSection,
} from '@/components/index.ts';
import {
  devName,
  heroDescription,
  navLinks,
  skills,
  testimonials,
  timelineData,
} from '@/helpers/data.ts';
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
import profilePic from '../assets/images/profile.jpg';
---

<!-- TODO: add animations to sections -->
<Layout>
  <div class='min-h-screen bg-background text-foreground'>
    <NavbarComponent
      devName={devName}
      navLinks={navLinks}
    />
    <main class='mx-auto pt-20'>
      <HeroSection
        devName={devName}
        heroDescription={heroDescription}
      >
        <Image
          src={profilePic}
          alt={devName}
          width={300}
          height={300}
          class='rounded-full'
          loading='eager'
        />
      </HeroSection>
      <WidgetsSection>
        <TechNewsWidget />
        <WeatherWidget client:load />
        <CryptoWidget />
        <DollarQuoteWidget />
      </WidgetsSection>
      <TimelineSection timelineData={timelineData} />
      <ProjectsSection />
      <TestimonialsSection testimonials={testimonials} />
      <SkillsSection {skills} />
      <ContactSection />
    </main>
    <FooterComponent devName={devName} />
  </div>
</Layout>
