---
import '@/assets/styles/globals.css';
import { ClientRouter } from 'astro:transitions';
import { NavbarComponent, FooterComponent } from '@/components/index.ts';
import { devName, navLinks } from '@/helpers/data.ts';

const serverMode = import.meta.env.SERVER_MODE;
// console.log('serverMode :>> ', serverMode);

const { mainClasses } = Astro.props as { mainClasses: string };
---

<!doctype html>
<html lang='pt-br'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <meta
      http-equiv='cache-control'
      content='max-age=3600, must-revalidate'
    />
    <meta
      http-equiv='expires'
      content={new Date(Date.now() + 3600 * 1000).toUTCString()}
    />
    <title>Marlon Couto | Dev FullStack</title>
    <script is:inline define:vars={{ serverMode }}>
      if (serverMode === 'true') {
        document.write(
          '<script src="http://' +
            (location.host || 'localhost').split(':')[0] +
            ':35729/livereload.js?snipver=1"></' +
            'script>',
        );
      }

      // TODO: add a script to handle dark mode preference even when page transitions occur
      // Function to apply dark mode preference based on the provided theme
      ((theme) => {
        if (theme === 'default' || (!theme && !('theme' in localStorage))) {
          // Remove theme from local storage if no theme is provided
          localStorage.removeItem('theme');
        } else if (theme) {
          // Save the provided theme to local storage
          localStorage.theme = theme;
        }

        // Toggle the 'dark' class on the document element based on the theme
        document.documentElement.classList.toggle(
          'dark',
          localStorage.theme === 'dark' ||
            (!('theme' in localStorage) &&
              window.matchMedia('(prefers-color-scheme: dark)').matches),
        );
      })('light');
    </script>
    <slot name='head' />
    <ClientRouter />
  </head>

  <body>
    <div class='min-h-screen bg-background text-foreground'>
      <NavbarComponent
        transition:persist
        devName={devName}
        navLinks={navLinks}
      />
      <main class:list={['mx-auto', mainClasses ?? 'pt-20']}>
        <!-- TODO: add animations to sections -->
        <slot />
      </main>
    </div>
    <FooterComponent
      transition:persist
      devName={devName}
    />

    <!-- TODO: add a button to scroll the page up -->
    <script>
      import { weatherStore } from '@/stores/index.ts';
      import type { WeatherData } from '@/types/WeatherData.ts';
      import axios from 'axios';

      // console.log('foo');

      try {
        if (navigator.geolocation) {
          // Request the current location
          navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
          console.warn('Geolocation is not supported by this browser.');
        }

        function showPosition(position: any) {
          const latitude = position.coords.latitude;
          // console.log('Latitude: ' + latitude);

          const longitude = position.coords.longitude;
          // console.log('Longitude: ' + longitude);

          fetchWeather({ latitude, longitude });
        }

        function showError(error: any) {
          switch (error.code) {
            case error.PERMISSION_DENIED:
              console.error('User denied the request for Geolocation.');
              break;
            case error.POSITION_UNAVAILABLE:
              console.error('Location information is unavailable.');
              break;
            case error.TIMEOUT:
              console.error('The request to get user location timed out.');
              break;
            case error.UNKNOWN_ERROR:
              console.error('An unknown error occurred.');
              break;
          }
        }
      } catch (error) {
        console.error((error as any).message);
      }

      async function fetchWeather({
        latitude,
        longitude,
      }: {
        latitude: number;
        longitude: number;
      }) {
        const geo = `${latitude},${longitude}`;
        // console.log('geo :>> ', geo);

        const { data } = await axios.post(
          '/api/weather',
          {
            geo,
          },
          {
            headers: {
              'Content-Type': 'application/json',
            },
          },
        );
        // console.log('data :>> ', data);

        weatherStore.set({
          name: data.location.name,
          region: data.location.region,
          country: data.location.country,
          condition: data.current.condition.text,
          temperature: data.current.temp_c,
          icon: data.current.condition.icon,
        } as WeatherData);
      }
    </script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
